# gymnasium
# gymnasium[atari]
# gymnasium[accept-rom-license]
# pygame
# gym-miniworld
# gymnasium[box2d]

seaborn
opencv-python
tensorflow
albumentations
# pydotplus
# streamlit
# pyvirtualdisplay

# numpy
# matplotlib
# pandas
# scipy
# scikit-learn
# pillow
# ipython

